/*top column*/
.top {
  height:450px;
  background-image: url(./top-background.jpg);
}
/*top column header*/
.top h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 154px;
  color:purple;
}
/*middle column*/
.middle {
  height: 141px;
  background-color: #21c1da;
  border-top: 6px solid #8b6617;
  border-bottom: 3px solid #8b6617;
  padding: 10px;
}
/*bottom left column*/
.bottomleft {
  height: 135px;
  background-color: #0bf046;
}
/*bottom right column*/
.bottomright {
  height: 135px;
  background-color: green;
  border-left: 2px gray solid;
}
/*the box in the right bottom column*/
.box {
  padding: 20px;
  background-color: #c5df2ff5;
  margin-top:15px;
  border: 2px inset;
  border-radius: 25px;
}
/*start button*/
#start {
  width: 194px;
  height: 48px;
  margin-top: 65px;
  border-radius: 20px;
  background-color: #32b5bb;
  margin-left: 343px;
  border:2px solid gray;
  font-size:20px;
  color:purple;
  font-weight: bolder;
}
/*start button hover*/
#start:hover {
  width: 194px;
  height: 48px;
  margin-top: 65px;
  border-radius: 20px;
  background-color: #32b5bb;
  margin-left: 343px;
  border:2px solid gray;
  font-size:20px;
  border: 2px solid white;
  font-weight: bolder;
  color:black;
}
/*the duck image*/
.ducks {
  float: right;
  z-index:999;
}

li {
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
}

#gameover {
display: none;
background-color: #00000047;
text-align: center;
z-index: 1791;
margin-right: 137px;
margin-left: 80px;
height: 319px;
border-radius: 25px;
margin-top: -114px;
padding: 1px;

}
#gameover p {
font-size: 24px;
}
