.top {
  height:450px;
  background-image: url(./top-background.jpg);


}
.top h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 154px;
  color:purple;

}
.middle {
  height: 141px;
  background-color: #29cde6b8;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 10px;
}

.bottomleft {
  height: 135px;
  background-color: #0bf046;
}

.bottomright {
  height: 135px;
  background-color: green;
  border-left: 2px gray solid;
}

.box {
  padding: 20px;
  background-color: #c5df2ff5;
  margin-top:15px;
  border:2px black inset;
}

#start {
  width: 194px;
  height: 48px;
  margin-top: 65px;
  border-radius: 20px;
  background-color: #32b5bb;
  margin-left: 343px;
  border:2px solid outset;
  font-size:20px;
  color:purple;
  font-weight: bolder;
}

.duckss {
  background-color: gray;
  float: right;
}
